.team {
  display: flex;
  flex-direction: column;
}

.container-body-team {
  display: flex;
  flex-direction: row;
}

.scrollable-container {
  display: flex;
  width: 800px;
  height: 400px;
  overflow-y: auto;
  margin-left: 20px;
  margin-top: 40px;
}

.content-statics {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
